.navbar {
    padding: 0 14%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav_links {
    align-items: center;
    font-size: 16px;
}