@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --background: #ededed;
  --box-background:radial-gradient(53% 80.08000000000001% at 50% 69.5%, var(rgb(252, 235, 239), #fcebef) 0%, rgba(252, 252, 255, 0) 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato",
    sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .wix-madefor-display-<uniquifier> {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */