@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap'); */

:root {
  --background: #ebf6fd;
  --box-background: radial-gradient(
    53% 80.08000000000001% at 50% 69.5%,
    var(rgb(252, 235, 239), #fcebef) 0%,
    rgba(252, 252, 255, 0) 100%
  );
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
}

h6 {
  font-size: 20px;
}

h1 {
  font-size: 57px;
  font-weight: 550;
  width: 80%;
  margin: 30px auto;
}

.sub-heading {
  background: linear-gradient(
    125deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgb(244, 237, 255) 100%
  );
  border-radius: 32px;
  border: 1px solid white;
  width: 14.5rem;
  margin: 0 auto;
  padding: 6px 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
  @apply text-white text-center bg-gray-800 px-7 py-3 rounded-full transition duration-200 hover:scale-95;
}

.btn-secondary {
  @apply border-2 text-center border-gray-800 px-7 py-3 rounded-full transition duration-200 hover:scale-95 text-black;
}

.hover-nav-link {
  @apply py-1 border-b border-transparent hover:border-[#171717]  transition-all duration-300;
}
