.project {
    border-radius: 40px;
    width: 75%;
    margin: auto;
    /* padding: 20%; */
    box-shadow: 0 .6021873017743928px 1.8065619053231785px -1.25px #0000002e,
        0 2.288533303243457px 6.8655999097303715px -2.5px #00000029,
        0 10px 30px -3.75px #00000010;
    position: sticky;
    top: 65px;
    overflow: visible;
    gap: 40px;
}

.project:nth-child(2) {
    transform: translateY(5%);
}

.project:nth-child(3) {
    transform: translateY(10%);
}

.project:nth-child(4) {
    transform: translateY(15%);
}

.projects_container {
    position: relative;
    top: -22rem;
}